<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="Core_config">

    <Properties>
        <Property name="filename">target/core_out.log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="ReceiverLog" fileName="logs/receiver.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="controller" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ReceiverLog"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>