<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="Gui_Config">

    <Properties>
        <Property name="filename">target/core_out.log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

    </Appenders>

    <Loggers>
        <Logger name="controller" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="components" level="erro" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="Gui" level="error" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>